:root{

	--border-radius: 10px;
    --button-border-radius: 10px;

	



	--size--2: clamp(0.7813rem, 0.7785rem + 0.0138vw, 0.8rem);
	--size--1: clamp(0.9375rem, 0.9283rem + 0.0459vw, 1rem);
	--size-0: clamp(1.125rem, 1.1067rem + 0.0917vw, 1.25rem);
	--size-1: clamp(1.35rem, 1.3188rem + 0.156vw, 1.5625rem);
	--size-2: clamp(1.62rem, 1.5711rem + 0.2445vw, 1.9531rem);
	--size-3: clamp(1.944rem, 1.871rem + 0.3651vw, 2.4414rem);
	--size-4: clamp(2.3328rem, 2.2273rem + 0.5277vw, 3.0518rem);
	--size-5: clamp(2.7994rem, 2.6503rem + 0.7452vw, 3.8147rem);
	--size-6: clamp(3.3592rem, 3.1524rem + 1.0342vw, 4.7684rem);
	--size-7: clamp(4.0311rem, 3.7479rem + 1.4161vw, 5.9605rem);
  

	--space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
	--space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
	--space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
	--space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);

	--space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
	--space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
	--space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  

  	/* @link https://utopia.fyi/*/

  

   
}