---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
const banner="remote-work.jpg";
---


<section class="hero">
  <div class="page-intro">
<h1>Claudia Snell: Front-end Web Developer & Coffee Enthusiast</h1>
<p class="lede">I'm a freelance front-end developer from Worcester, Massachusetts and this is my place to keep links to my profiles and projects.</p>

</div>

<div class="banner" style="background-image: url('/banners/{{ banner }}'); ">

</div>

</section>



    {% include "elsewhere.njk" %}
